<html>
<head>
<style>
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h1 {text-align: center;
	margin-top: 100px;
  color:white;
	}
p {text-align: left;
  margin-left: 30px;
  margin-right: 1200px;
  margin-top: 260px;
  color:white;
  } 
h3 {text-align: right;
  margin-right: 30px;
  color: #282828;
  } 
</style>
</head>
<BODY style="background: linear-gradient(to bottom right, #282828 70%, #ffffff 30%)">
	<h1 style="font-family:bahnschrift">Welcome to Slert!</h1>
	<div class="center">
    <img src="../static/img/slert.png" onclick="location.href = 'http://localhost:5000/index';" height="200" width="200">
		<!--<button onclick="location.href = 'http://localhost:5000/index';"></button>-->
	</div>
  <p style="font-family:bahnschrift; line-height:30px;">The main idea behind this project is to develop a nonintrusive
   system which can detect fatigue of any human and can issue a timely warning. This system will monitor the driver eyes using a camera and by developing an algorithm we can detect symptoms of driver fatigue early enough to avoid the person from sleeping. So, this project will be helpful in detecting driver fatigue in advance and will give warning output in form of alarm and pop-ups. More-over, the warning will be deactivated manually rather than automatically.</p>
   <h3 style="font-family:bahnschrift; margin-right: 200px; margin-top: 100px;">Crafted By :</h3>
   <h3 style="font-family:bahnschrift;">Himanshu Bhalani</h3>
   <h3 style="font-family:bahnschrift;">Suhetu Ring</h3>
   <h3 style="font-family:bahnschrift;">Rohan Singh</h3>
</BODY>
</html>